* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

img.smallImg {
    max-width: 300px;
    border-radius: 1rem;
}

img.smallImg2 {
    max-width: 200px;
    max-height: 100px;
    border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
    img.smallImg {
        max-width: 200px;
        margin-left: 0;
    }
}