*{
    font-family: 'IBM Plex Sans KR', sans-serif;
}

img.thumbnail {
    max-width: 350px;
    border-radius: 1rem;
}

.vertical-timeline-element-title {
    text-align: left;
}


@media only screen and (max-width: 600px) {
    img.thumbnail {
        max-width: 200px;
        margin-left: 0;
    }
}